FASTAFILE="Example/ArtificialEcoli/Simulated/combined_simulated.fasta"
OUTPUTLOCATION="Example/Output"
ELEMENTREFERENCELOCATION="Example/ElementReference/Tn9_5xRepeat"
GENOMEREFERENCELOCATION="Example/ArtificialEcoli/Artificial_Genome"
SUBSETSEQLENGTH="2000"
GENETICELEMENTMATCH="1000"
SEQQUALITY="82"
OVERLAPLEN="500"

###Pipeline specific locations (set this and forget it)
CORES="8"
FILTERMAFLOCATION="Python/filter_maf.py"
SUBSETMAFLOCATION="Rscripts/Lastal_Filter_MAF_Output.R"
LASTALPROBABILITIES="Shell/LastalProbabilities.sh"
LASTALRSCRIPT_GENERAL="Rscripts/Lastal_General_Seq_Data.R"
RCALLLASTALRSCRIPT="Rscripts/Call_AlignmentStat_Report.R"
LASTALRSCRIPT_ALIGNMENTSTATS="Rscripts/Lastal_AlignmentStat.Rmd"


