FASTAFILE=
OUTPUTLOCATION=
ELEMENTREFERENCELOCATION=
GENOMEREFERENCELOCATION=
SUBSETSEQLENGTH=
GENETICELEMENTMATCH=
SEQQUALITY=
OVERLAPLEN=
OVERLAPLEN=

###Pipeline specific locations (set this and forget it)
FILTERMAFLOCATION="Python/filter_maf.py"
SUBSETMAFLOCATION="Rscripts/Lastal_Filter_MAF_Output.R"
LASTALPROBABILITIES="Shell/LastalProbabilities.sh"
LASTALRSCRIPT_GENERAL="Rscripts/Lastal_General_Seq_Data.R"
RCALLLASTALRSCRIPT="Rscripts/Call_AlignmentStat_Report.R"
LASTALRSCRIPT_ALIGNMENTSTATS="Rscripts/Lastal_AlignmentStat.Rmd"


